/*=============

===============*/
html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: ivory;
}


/*=============
Navigation menu
===============*/

.navbar{
    padding-left: 3vw;
    background: darkred;
    height: 4.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

}

.navbar h1{
    font-size: 1.5em;
    color: ghostwhite;
    margin-top: .25em;
}

.navbar a{
    color: ghostwhite;
    text-decoration: none;
    font-weight: bolder;

    display: inline-block;
    text-align: center;
    padding-top: 1.5em;
    padding-right: 2em;
}

/*=============
Main
===============*/
main p{
    margin-left: 1em;
}

/*=============
Contact Me logos
===============*/
.logos img{
    height: 2em;
}

/*=============
    HTML-index
===============*/

