html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: ivory;
}

/*=============
    Bordes
===============*/
.contenedor{
    display: flex;
}
.contenedor .bordes{
    margin: 1em;
    height: 5rem;
    width: 5rem;
    text-align:center;
    font-size: .8em;
    color: white;
    background-color:brown;
}

#border1{
    border: burlywood 1em solid;
}

#border2{
    border: black 1.5em dashed;
}

#border3{
    border: dodgerblue .5em dotted;
}

#border4{
    border: darksalmon dashed;
    border-width: .2em .3em .1em .6em;
}

#border5{
    border: darksalmon dashed;
    border-width: .2em .4em .15em .3em;
}

#border6{
    border: darksalmon dashed;
    border-width: .6em .3em .5em .45em;
}

#border7{
    border: darksalmon dashed;
    border-width: .2em .3em .1em ;
}

#border8{
    border: darksalmon dashed;
    border-width: .2em .4em .15em ;
}

#border9{
    border: darksalmon dashed;
    border-width: .6em .3em .5em ;
}

#border10{
    margin: 1em;
    height: 5rem;
    width: 5rem;
    text-align:center;
    font-size: .8em;
    color: white;
    background-color:brown;
    border: darksalmon dashed;
    border-width: .2em .3em;
}

#border11{
    border: darksalmon dashed;
    border-width: .2em .4em;
}

#border12{
    border: darksalmon dashed;
    border-width: .6em .3em ;
}

#border13{
    border: goldenrod dashed .25em;
    border-radius: 10% ;
}

#border14{
    border: goldenrod dashed .25em;
    border-radius: 25%;
}

#border15{
    border: goldenrod dashed .25em;
    border-radius: 100%;
}

/*=============
    Sombras
===============*/

.contenedor .shadow{
    margin: 1em;
    height: 5rem;
    width: 5rem;
    text-align:center;
    font-size: .8em;
    color: white;
    background-color:rgb(255, 150, 150);
}
#shadow1{
    box-shadow: 0 0 .5rem grey ;
}

#shadow2{
    box-shadow: .25rem .25rem  grey ;
}

#shadow3{
    box-shadow: -.25rem .5rem 1rem grey ;
}

/*=============
    Modelo de caja
===============*/