body{
    background-color: #F7ECE0 !important;
}

.sidebar{
    height: 100%;
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212529;
}


.icon{
    padding: 2.5% 0;
    height: 15vh;
}

.introduction{
 font-size: 0.75em;   
 margin-top: 0%;
 padding-top: 0%;
}

.content{
    order=2
}